<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}

.card {
	height: 7em;
	padding: 2.5em;
	font-size: 19px;
	font-weight: bold;
	background-color: #FFAB00;
	color: #FFF;
	border: none;
}
</style>
</h:head>
<h:body>

	<h:form id="homeForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="#" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="#"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:row style="margin-top: 10em">
			<b:column offset="3" span="3">
				<b:button value="CLIENTI/FORNITORI/CONTATTI" href="customer.xhtml"
					style="width: 100%; height: 10em; padding: 2.5em; font-size: 19px; font-weight: bold; background-color: #FFAB00; color: #FFF; border: none;" />
			</b:column>

			<b:column span="3">
				<b:button value="COMMESSE" href="job.xhtml"
					style="width: 100%; height: 10em; padding: 2.5em; font-size: 19px; font-weight: bold; background-color: #FFAB00; color: #FFF; border: none;" />
			</b:column>
		</b:row>

		<b:row style="margin-top: 2em">
			<b:column offset="3" span="3">
				<b:button value="SCHEDA QUALIFICAZIONE"
					href="listQualification.xhtml"
					style="width: 100%; height: 10em; padding: 2.5em; font-size: 19px; font-weight: bold; background-color: #FFAB00; color: #FFF; border: none;" />
			</b:column>

			<b:column span="3">
				<b:button value="SCHEDA GRADIMENTO" href="listFeedback.xhtml"
					style="width: 100%; height: 10em; padding: 2.5em; font-size: 19px; font-weight: bold; background-color: #FFAB00; color: #FFF; border: none;" />
			</b:column>
		</b:row>


	</h:form>
</h:body>
</html>


