<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="listJobForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back" href="job.xhtml"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:container style="margin-top: 10em">
			<b:row>
				<b:column offset="4">
					<h:outputLabel value="LISTA COMMESSE"
						style="font-size:19px; margin-bottom: 3em" />
				</b:column>
			</b:row>
			<b:dataTable value="#{jobListController.jobs}" var="job">
				<b:dataTableColumn label="Data Inizio">
					<h:outputText value="#{job.start}">
						<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
					</h:outputText>
				</b:dataTableColumn>
				<b:dataTableColumn label="Data Fine">
					<h:outputText value="#{job.expiry}">
						<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
					</h:outputText>
				</b:dataTableColumn>
				<b:dataTableColumn value="#{job.code}" label="Codice Commessa" />
				<b:dataTableColumn value="#{job.description}" label="Descrizione" />
				<b:dataTableColumn value="#{job.tot}" label="Importo Totale" />
				<b:dataTableColumn label="Contratto" orderable="false">
					<p:commandButton value="Download" ajax="false"
						onclick="PrimeFaces.monitorDownload(start, stop);"
						icon="ui-icon-arrowthick-1-s">
						<p:fileDownload value="#{jobListController.getFile(job.contract)}" />
					</p:commandButton>
				</b:dataTableColumn>

				<b:dataTableColumn orderable="false">
					<b:button value="Modifica" icon="edit"
						href="updateJob.xhtml?ID=#{job.id}" label="Modifica" />
				</b:dataTableColumn>
				<b:dataTableColumn orderable="false">
					<b:button value="Visualizza" iconAwesome="list-ul"
						href="listLedger.xhtml?ID=#{job.id}" label="Pagamenti" />
				</b:dataTableColumn>


				<b:dataTableColumn orderable="false">
					<b:button value="Visualizza" icon="edit"
						href="viewFeedback.xhtml?ID=#{job.id}" label="Feedback" />
				</b:dataTableColumn>


			</b:dataTable>
		</b:container>
	</h:form>
</h:body>
</html>