<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="listLedgerForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back" href="listJob.xhtml"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:container style="margin-top: 10em">
			<b:row>
				<b:column offset="5">
					<h:outputLabel value="LISTA PAGAMENTI" style="font-size:19px" />
				</b:column>
			</b:row>


			<b:row>
				<b:column offset="3">
					<h:outputLabel
						value="DESCRIZIONE: #{ledgerListController.job.description} "
						style="font-size:16px" />
				</b:column>
			</b:row>

			<b:row>
				<b:column offset="3">
					<h:outputLabel value="CODICE: #{ledgerListController.job.code} "
						style="font-size:16px; margin-bottom: 3em" />
				</b:column>
			</b:row>

			<b:row>
				<b:column offset="4">
					<h:outputLabel
						value="IMPORTO TOTALE: #{ledgerListController.job.tot} " />
				</b:column>
			</b:row>

			<b:modal id="amodal" title="Cancella" styleClass="modalPseudoClass">
				<p>Sei Sicuro?</p>
				<f:facet name="footer">
					<b:button value="No" dismiss="modal" />
					<b:commandButton value="Si"
						action="#{ledgerListController.deleteLedger()}" look="primary"
						dismiss="modal" />
				</f:facet>
			</b:modal>


			<b:dataTable value="#{ledgerListController.ledgers}" var="ledger">
				<b:dataTableColumn value="#{ledger.payment}" label="Pagamento" />
				<b:dataTableColumn label="Data">
					<h:outputText value="#{ledger.date}">
						<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
					</h:outputText>
				</b:dataTableColumn>
				<b:dataTableColumn label="Ricevuta" orderable="false">
					<p:commandButton value="Download" ajax="false"
						onclick="PrimeFaces.monitorDownload(start, stop);"
						icon="ui-icon-arrowthick-1-s">
						<p:fileDownload
							value="#{ledgerListController.getFile(ledger.receipt)}" />
					</p:commandButton>
				</b:dataTableColumn>

				<b:dataTableColumn label="" orderable="false">
					<b:button value="Modifica" icon="edit"
						href="updateLedger.xhtml?ID=#{ledger.id}" label="Modifica" />

					<b:commandButton value="Cancella" icon="trash"
						onclick="$('.modalPseudoClass').modal(); ajax:ledgerListController.setCandidateToDelete(ledger);"
						ajax="true" />
				</b:dataTableColumn>

			</b:dataTable>

			<b:row style="margin-top: 2em">
				<b:column span="3">
					<b:button value="AGGIUNGI PAGAMENTO"
						href="addLedger.xhtml?ID=#{ledgerListController.job.id}"
						style="width: 100%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>