<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="listSupplierForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back" href="customer.xhtml"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:container style="margin-top: 10em">
			<b:row>
				<b:column offset="4">
					<h:outputLabel value="LISTA FORNITORI"
						style="font-size:19px; margin-bottom: 3em" />
				</b:column>
			</b:row>
			<b:modal id="amodal" title="Cancella" styleClass="modalPseudoClass">
				<p>Sei Sicuro?</p>
				<f:facet name="footer">
					<b:button value="No" dismiss="modal" />
					<b:commandButton value="Si"
						action="#{supplierListController.deleteCustomer()}" look="primary"
						dismiss="modal" />
				</f:facet>
			</b:modal>

			<b:dataTable value="#{supplierListController.customers}"
				var="customer">
				<b:dataTableColumn value="#{customer.company}" label="Azienda" />
				<b:dataTableColumn value="#{customer.owner}" label="Titolare" />
				<b:dataTableColumn value="#{customer.iva}" label="Iva" />
				<b:dataTableColumn value="#{customer.cf}" label="Cf" />
				<b:dataTableColumn orderable="false">
					<b:button value="Visualizza" icon="user"
						href="viewSupplier.xhtml?ID=#{customer.id}" />
					<b:button value="Modifica" icon="edit"
						href="update.xhtml?ID=#{customer.id}" label=" " />
					<b:commandButton value="Cancella" icon="trash"
						onclick="$('.modalPseudoClass').modal(); ajax:supplierListController.setCandidateToDelete(customer);"
						ajax="true" />
				</b:dataTableColumn>

			</b:dataTable>

		</b:container>
	</h:form>
</h:body>
</html>