<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}

.card {
	height: 7em;
	padding: 2.5em;
	font-size: 19px;
	font-weight: bold;
	background-color: #FFAB00;
	color: #FFF;
	border: none;
}
</style>
</h:head>
<h:body>

	<h:form id="loginForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="#" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="#"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:column offset="4" span="4" style="margin-top: 20em">
			<b:row>
				<b:column span="2">
					<h:outputText value="Username:" for="username"
						style=" font-weight: bold; color: #777" />
				</b:column>
				<b:column span="7">
					<b:inputText placeholder="#{loginController.login.username}"
						id="username" value="#{loginController.login.username}"
						ajax="true" autocomplete="true" update="@(.message)">
						<f:facet name="prepend">
							<b:icon name="user" />
						</f:facet>
					</b:inputText>
				</b:column>
				<b:column style-class="message" span="4">
					<b:message for="username" />
				</b:column>
			</b:row>
			<b:row>
				<b:column span="2">
					<h:outputText value="Password:" for="password"
						style=" font-weight: bold; color: #777" />
				</b:column>
				<b:column span="7">
					<b:inputSecret placeholder="#{loginController.login.password}"
						id="password" value="#{loginController.login.password}"
						ajax="true" autocomplete="true" update="@(.message)">
						<f:facet name="prepend">
							<b:iconAwesome name="key" />
						</f:facet>
					</b:inputSecret>
				</b:column>
				<b:column styleClass="message" span="4">
					<b:message for="password" />
				</b:column>
			</b:row>

			<b:row>
				<b:column offset="2" span="7">
					<b:commandButton value="LOGIN"
						action="#{loginController.checkLogin}"
						style="width:100%; height: 40px; background-color: #FFAB00; color:white; border-color:#FFAB00" />
				</b:column>
			</b:row>
		</b:column>

	</h:form>
</h:body>
</html>