<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="updateJobForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back" href="listJob.xhtml"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>


		<b:container style="margin-top: 10em" layout="fluid">
			<b:row>
				<b:column offset="5">
					<h:outputLabel value="MODIFICA COMMESSA"
						style="font-size:19px; margin-bottom: 3em" />
				</b:column>
			</b:row>
			<h:panelGrid columns="4" style="margin-top: 5em">

				<h:outputLabel value="Data inizio" for="start" />
				<h:outputLabel value=" " style=" width: 70px" />
				<b:dateTimePicker id="start"
					value="#{jobUpdateController.job.start}" format="YYYY-MM-DD" />
				<h:message for="start" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Data fine" for="expiry" />
				<h:outputLabel value=" " style=" width: 70px" />
				<b:dateTimePicker id="expiry"
					value="#{jobUpdateController.job.expiry}" format="YYYY-MM-DD" />
				<h:message for="expiry" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Codice Commessa" for="code" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="code" value="#{jobUpdateController.job.code}" />
				<h:message for="code" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Descrizione" for="description" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="description"
					value="#{jobUpdateController.job.description}" />
				<h:message for="description" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Importo Totale" for="tot" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="tot" value="#{jobUpdateController.job.tot}" />
				<h:message for="tot" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Contratto" for="contract" />
				<h:outputLabel value=" " style=" width: 70px" />
				<p:fileUpload value="#{jobUpdateController.file}" mode="simple"
					skinSimple="true" />
				<h:message for="contract" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel value="Seleziona Cliente/Fornitore" for="customer" />
				<h:outputLabel value=" " style=" width: 70px" />
				<b:selectOneMenu value="#{jobUpdateController.job.customer.id}"
					colMd="10">
					<f:selectItems value="#{jobAddController.customers}" var="customer"
						itemValue="#{customer.id}" itemLabel="#{customer.company}" />
				</b:selectOneMenu>
				<h:message for="customer" style="color:red" />
			</h:panelGrid>

			<b:row style="margin-top: 2em">
				<b:column span="2">
					<b:commandButton value="SALVA"
						action="#{jobUpdateController.updateJob}"
						style="width: 100%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>
