<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="updateLedgerForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back"
					href="listLedger.xhtml?ID=#{ledgerUpdateController.ledger.job.id}"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>


		<b:container style="margin-top: 10em" layout="fluid">

			<b:row>
				<b:column offset="5">
					<h:outputLabel value="MODIFICA PAGAMENTO" style="font-size:19px" />
				</b:column>
			</b:row>
			<h:panelGrid columns="4" style="margin-top: 5em">

				<h:outputLabel value="Pagamento" for="payment" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="payment"
					value="#{ledgerUpdateController.ledger.payment}"
					style=" width: 245px" />
				<h:message for="payment" style="color:red" />


				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Data pagamento" for="date" />
				<h:outputLabel value=" " style=" width: 70px" />
				<b:dateTimePicker id="date"
					value="#{ledgerUpdateController.ledger.date}" format="YYYY-MM-DD" />
				<h:message for="date" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Ricevuta" for="receipt" />
				<h:outputLabel value=" " style=" width: 70px" />
				<p:fileUpload value="#{ledgerUpdateController.file}" mode="simple"
					skinSimple="true" />
				<h:message for="receipt" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


			</h:panelGrid>
			<b:row style="margin-top: 2em">
				<b:column span="2">
					<b:commandButton value="SALVA"
						action="#{ledgerUpdateController.updateLedger}"
						style="width: 100%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>

		</b:container>
	</h:form>
</h:body>
</html>