<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="updateQualificationForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back"
					href="viewSupplier.xhtml?ID=#{qualificationUpdateController.customer.id}"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>


		<b:container style="margin-top: 10em" layout="fluid">
			<b:row>
				<b:column offset="5">
					<h:outputLabel value="MODIFICA FEEDBACK" style=" font-size: 19px" />
				</b:column>
			</b:row>
			<h:panelGrid columns="4" style="margin-top: 5em">


				<h:outputLabel value="Fascia" for="fascia" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.fascia}">
					<f:selectItem itemValue="A" itemLabel="A" />
					<f:selectItem itemValue="B" itemLabel="B" />
					<f:selectItem itemValue="C" itemLabel="C" />
				</b:selectOneMenu>


				<h:outputLabel value=" " />


				<h:outputLabel value="Qualifica" for="qualifica" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.qualifica}">
					<f:selectItem itemValue="QUALIFICATO" itemLabel="QUALIFICATO" />
					<f:selectItem itemValue="NON QUALIFICATO"
						itemLabel="NON QUALIFICATO" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />




				<h:outputLabel value="C.V." for="cv" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.cv}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>


				<h:outputLabel value=" " />


				<h:outputLabel value="Docenza" for="docenza" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.docenza}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Coordinamento didattico" for="cd" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.cd}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Sviluppo SW" for="sw" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.sw}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Elaborazione materiale pubblicitario"
					for="elmat" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.elmat}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Ricerca" for="ric" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.ric}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Progettazione" for="prog" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.prog}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Elaborazione materiale didattico" for="eldid" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.eldid}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Tutorship" for="tutor" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.tutor}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Consulenza specialistica" for="cons" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.cons}">
					<f:selectItem itemValue="NO" itemLabel="NO" />
					<f:selectItem itemValue="SI" itemLabel="SI" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />


				<h:outputLabel value="Altro" for="altro" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="altro"
					value="#{qualificationUpdateController.qualification.altro}"
					style=" width: 235px" />
				<h:message for="altro" style="color:red" />





				<h:outputLabel value="Rispetto scadenze (1-10)" for="scad" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.scad}">
					<f:selectItem itemValue="1" itemLabel="1" />
					<f:selectItem itemValue="2" itemLabel="2" />
					<f:selectItem itemValue="3" itemLabel="3" />
					<f:selectItem itemValue="4" itemLabel="4" />
					<f:selectItem itemValue="5" itemLabel="5" />
					<f:selectItem itemValue="6" itemLabel="6" />
					<f:selectItem itemValue="7" itemLabel="7" />
					<f:selectItem itemValue="8" itemLabel="8" />
					<f:selectItem itemValue="9" itemLabel="9" />
					<f:selectItem itemValue="10" itemLabel="10" />
				</b:selectOneMenu>


				<h:outputLabel value=" " />


				<h:outputLabel value="Gradimento (1-10)" for="grad" />
				<h:outputLabel value=" " />
				<b:selectOneMenu
					value="#{qualificationUpdateController.qualification.grad}">
					<f:selectItem itemValue="1" itemLabel="1" />
					<f:selectItem itemValue="2" itemLabel="2" />
					<f:selectItem itemValue="3" itemLabel="3" />
					<f:selectItem itemValue="4" itemLabel="4" />
					<f:selectItem itemValue="5" itemLabel="5" />
					<f:selectItem itemValue="6" itemLabel="6" />
					<f:selectItem itemValue="7" itemLabel="7" />
					<f:selectItem itemValue="8" itemLabel="8" />
					<f:selectItem itemValue="9" itemLabel="9" />
					<f:selectItem itemValue="10" itemLabel="10" />
				</b:selectOneMenu>


				<h:outputLabel value=" " />


				<h:outputLabel value="Competenza 1" for="comp1" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="comp1"
					value="#{qualificationUpdateController.qualification.comp1}"
					style=" width: 235px" />
				<h:message for="comp1" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel value="Competenza 2" for="comp2" />
				<h:outputLabel value=" " style=" width: 70px" />
				<h:inputText id="comp2"
					value="#{qualificationUpdateController.qualification.comp2}"
					style=" width: 235px" />
				<h:message for="comp2" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Data Valutazione " for="data" />
				<h:outputLabel value=" " style=" width: 70px" />
				<b:dateTimePicker id="data"
					value="#{qualificationUpdateController.qualification.data}"
					format="YYYY-MM-DD" />
				<h:message for="data" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="NC anno x" for="anno" />
				<h:outputLabel value=" " style=" width: 70px" />
				<b:dateTimePicker id="anno"
					value="#{qualificationUpdateController.qualification.anno}"
					format="YYYY-MM-DD" />
				<h:message for="anno" style="color:red" />

			</h:panelGrid>
			<b:row style="margin-top: 2em">
				<b:column span="2">
					<b:commandButton value="SALVA"
						action="#{qualificationUpdateController.updateQualification}"
						style="width: 100%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>
