<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="updateFeedbackForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back" href="listJob.xhtml"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>


		<b:container style="margin-top: 10em" layout="fluid">
			<b:row>
				<b:column offset="5">
					<h:outputLabel value="MODIFICA FEEDBACK" style="font-size:19px" />
				</b:column>
			</b:row>
			<h:panelGrid columns="4" style="margin-top: 5em">

				<h:outputLabel
					value="DOMANDA 1: In sintesi, come valuta globalmente l'attività rispetto alle Sue aspettative ?"
					for="q1" />
				<h:outputLabel value=" " />
				<b:selectOneMenu value="#{feedbackUpdateController.feedback.q1}">
					<f:selectItem itemValue="insufficiente" itemLabel="insufficiente" />
					<f:selectItem itemValue="sufficiente" itemLabel="sufficiente" />
					<f:selectItem itemValue="buona" itemLabel="buona" />
					<f:selectItem itemValue="ottima" itemLabel="ottima" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="DOMANDA 2: Ritiene che gli obiettivi concordati nella fase di progettazione dell'attività siano stati raggiunti  ?"
					for="q2" />
				<h:outputLabel value=" " />
				<b:selectOneMenu value="#{feedbackUpdateController.feedback.q2}">
					<f:selectItem itemValue="SI" itemLabel="SI" />
					<f:selectItem itemValue="NO" itemLabel="NO" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Perchè ?:" for="q2bis" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:inputText id="q2bis"
					value="#{feedbackUpdateController.feedback.q2bis}" />
				<h:message for="q2bis" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel
					value="DOMANDA 3:Come valuta globalmente la prestazione dei professionisti (docenti/consulenti) coinvolti nell'attività?"
					for="q3" />
				<h:outputLabel value=" " />
				<b:selectOneMenu value="#{feedbackUpdateController.feedback.q3}">
					<f:selectItem itemValue="insufficiente" itemLabel="insufficiente" />
					<f:selectItem itemValue="sufficiente" itemLabel="sufficiente" />
					<f:selectItem itemValue="buona" itemLabel="buona" />
					<f:selectItem itemValue="ottima" itemLabel="ottima" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel
					value="DOMANDA 4: Come valuta globalmente la qualità delLa documentazione fornita ?"
					for="q4" />
				<h:outputLabel value=" " />
				<b:selectOneMenu value="#{feedbackUpdateController.feedback.q4}">
					<f:selectItem itemValue="insufficiente" itemLabel="insufficiente" />
					<f:selectItem itemValue="sufficiente" itemLabel="sufficiente" />
					<f:selectItem itemValue="buona" itemLabel="buona" />
					<f:selectItem itemValue="ottima" itemLabel="ottima" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel value="OSSERVAZIONI:" for="q4bis" />
				<h:outputLabel value=" " />
				<h:inputText id="q4bis"
					value="#{feedbackUpdateController.feedback.q4bis}" />
				<h:message for="q4bis" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />



				<h:outputLabel
					value="DOMANDA 5: C'é qualche aspetto dell'attività che l'ha colpita? "
					for="q5" />
				<h:outputLabel value=" " />
				<h:inputText id="q5" value="#{feedbackUpdateController.feedback.q5}" />
				<h:message for="q5" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel
					value="DOMANDA 6: Quale Feed-back ha avuto dai partecipanti/destinatari in merito all'efficacia del ns. intervento ?"
					for="q6" />
				<h:outputLabel value=" " />
				<b:selectOneMenu value="#{feedbackUpdateController.feedback.q6}">
					<f:selectItem itemValue="Estremamente efficac"
						itemLabel="Estremamente efficace" />
					<f:selectItem itemValue="Molto efficace" itemLabel="Molto efficace" />
					<f:selectItem itemValue="Efficace" itemLabel="Efficace" />
					<f:selectItem itemValue="Poco efficace" itemLabel="Poco efficace" />
					<f:selectItem itemValue="v" itemLabel="Inefficace" />
				</b:selectOneMenu>

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


				<h:outputLabel
					value="DOMANDA 7: Quali ritiene possano essere eventuali temi per approfondimenti ed iniziative successive ?"
					for="q7" />
				<h:outputLabel value=" " />
				<h:inputText id="q7" value="#{feedbackUpdateController.feedback.q7}" />
				<h:message for="q7" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />


			</h:panelGrid>
			<b:row style="margin-top: 2em">
				<b:column span="2">
					<b:commandButton value="SALVA"
						action="#{feedbackUpdateController.updateFeedback}"
						style="width: 100%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>
