<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="viewForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="back" href="listCustomer.xhtml"></b:navLink>
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>


		<b:container style="margin-top: 10em" layout="fluid">

			<b:row>
				<b:column offset="5">
					<h:outputLabel value="SCHEDA ANAGRAFICA" style=" font-size: 19px" />
				</b:column>
			</b:row>
			<h:panelGrid columns="4" style="margin-top: 5em">
				<h:outputLabel value="Azienda" for="company" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="company"
					value="#{customerViewController.customer.company}" />
				<h:message for="company" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Titolare" for="owner" />
				<h:outputLabel value=" " />
				<h:outputLabel id="owner"
					value="#{customerViewController.customer.owner}" />
				<h:message for="owner" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Indirizzo" for="address" />
				<h:outputLabel value=" " />
				<h:outputLabel id="address"
					value="#{customerViewController.customer.address}" />
				<h:message for="address" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Città" for="city" />
				<h:outputLabel value=" " />
				<h:outputLabel id="city"
					value="#{customerViewController.customer.city}" />
				<h:message for="city" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Iva" for="iva" />
				<h:outputLabel value=" " />
				<h:outputLabel id="iva"
					value="#{customerViewController.customer.iva}" />
				<h:message for="iva" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Cf" for="cf" />
				<h:outputLabel value=" " />
				<h:outputLabel id="cf" value="#{customerViewController.customer.cf}" />
				<h:message for="cf" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Tel." for="tel" />
				<h:outputLabel value=" " />
				<h:outputLabel id="tel"
					value="#{customerViewController.customer.tel}" />
				<h:message for="tel" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Email" for="email" />
				<h:outputLabel value=" " />
				<h:outputLabel id="email"
					value="#{customerViewController.customer.email}" />
				<h:message for="email" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Tipologia" for="typology" />
				<h:outputLabel value=" " />
				<h:outputLabel id="typology"
					value="#{customerViewController.customer.typology}" />
				<h:message for="typology" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Documento d'Identità" for="document" />
				<h:outputLabel value=" " />
				<p:commandButton value="Download" ajax="false"
					onclick="PrimeFaces.monitorDownload(start, stop);"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload
						value="#{customerViewController.getDocument(customerViewController.customer.document)}" />
				</p:commandButton>
				<h:outputLabel for="document" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Cv" for="cv" />
				<h:outputLabel value=" " />
				<p:commandButton value="Download" ajax="false"
					onclick="PrimeFaces.monitorDownload(start, stop);"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload
						value="#{customerViewController.getCv(customerViewController.customer.cv)}" />
				</p:commandButton>
				<h:outputLabel for="cv" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Contratto" for="contract" />
				<h:outputLabel value=" " />
				<p:commandButton value="Download" ajax="false"
					onclick="PrimeFaces.monitorDownload(start, stop);"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload
						value="#{customerViewController.getContract(customerViewController.customer.contract)}" />
				</p:commandButton>
				<h:outputLabel for="contract" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Profilo Aziendale" for="profile" />
				<h:outputLabel value=" " />
				<p:commandButton value="Download" ajax="false"
					onclick="PrimeFaces.monitorDownload(start, stop);"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload
						value="#{customerViewController.getProfile(customerViewController.customer.profile)}" />
				</p:commandButton>
				<h:outputLabel for="profile" style="color:red" />

			</h:panelGrid>
		</b:container>
	</h:form>
</h:body>
</html>