<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="viewQualificationForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:container style="margin-top: 10em">
			<b:row>
				<b:column offset="5">
					<h:outputLabel value="SCHEDA QUALIFICAZIONE" style="font-size:19px" />
				</b:column>
			</b:row>

			<h:panelGrid columns="4" style="margin-top: 3em">
				<h:outputLabel value=" FASCIA" for="fascia" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="fascia"
					value="#{qualificationViewController.qualification.fascia}" />
				<h:message for="fascia" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="QUALIFICA" for="qualifica" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="qualificazione"
					value="#{qualificationViewController.qualification.qualifica}" />
				<h:message for="qualifica" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="CV" for="cv" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="cv"
					value="#{qualificationViewController.qualification.cv}" />
				<h:message for="cv" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="DOCENZA" for="docenza" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="docenza"
					value="#{qualificationViewController.qualification.docenza}" />
				<h:message for="docenza" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="COORDINAMENTO DIDATTICO" for="cd" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="cd"
					value="#{qualificationViewController.qualification.cd}" />
				<h:message for="cd" style="color:red" />


				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="SVILUPPO SW" for="sw" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="sw"
					value="#{qualificationViewController.qualification.sw}" />
				<h:message for="sw" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="ELABORAZIONE MATERIALE PUBBLICITARIO" for="q5" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="elmat"
					value="#{qualificationViewController.qualification.elmat}" />
				<h:message for="elmat" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="RICERCA" for="ric" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="ric"
					value="#{qualificationViewController.qualification.ric}" />
				<h:message for="ric" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="PROGETTAZIONE" for="prog" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="prog"
					value="#{qualificationViewController.qualification.prog}" />
				<h:message for="prog" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="ELABORAZIONE MATERIALE DIDATTICO" for="eldid" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="eldid"
					value="#{qualificationViewController.qualification.eldid}" />
				<h:message for="eldid" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="TUTORSHIP" for="tutor" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="tutor"
					value="#{qualificationViewController.qualification.tutor}" />
				<h:message for="tutor" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="CONSULENZA SPECIALISTICA" for="cons" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="cons"
					value="#{qualificationViewController.qualification.cons}" />
				<h:message for="cons" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="ALTRO" for="altro" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="altro"
					value="#{qualificationViewController.qualification.altro}" />
				<h:message for="altro" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="RISPETTO SCADENZE" for="scad" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="scad"
					value="#{qualificationViewController.qualification.scad}" />
				<h:message for="scad" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="GRADIMENTO" for="grad" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="grad"
					value="#{qualificationViewController.qualification.grad}" />
				<h:message for="grad" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="TOTALE" for="tot" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="tot"
					value="#{qualificationViewController.qualification.tot}" />
				<h:message for="tot" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="COMPETENZA 1" for="comp1" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="comp1"
					value="#{qualificationViewController.qualification.comp1}" />
				<h:message for="comp1" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="COMPETENZA 2" for="comp2" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="comp2"
					value="#{qualificationViewController.qualification.comp2}" />
				<h:message for="comp2" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="DATA VALUTAZIONE" for="data" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel
					value="#{qualificationViewController.qualification.data}">
					<f:convertDateTime type="data" pattern="dd-MM-yyyy" />
				</h:outputLabel>
				<h:message for="data" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="NC ANNO X" for="anno" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel
					value="#{qualificationViewController.qualification.anno}">
					<f:convertDateTime type="anno" pattern="yyyy" />
				</h:outputLabel>
				<h:message for="anno" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />



			</h:panelGrid>

			<b:row style="margin-top: 2em">
				<b:column span="4">
					<b:button value="VAI ALLA SCHEDA FORNITORE"
						href="viewSupplier.xhtml?ID=#{customerViewController.customer.id}"
						style="width:80%; background-color: #777; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>