<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Project and Planning</title>
	<link rel="icon" type="image/png" sizes="16x13"
		href="#{resource['images/favicon-16x13.png']}"></link>

	<style type="text/css">
* {
	overflow-x: hidden;
}

.navbar-default {
	background: transparent !important;
	border: none !important;
	font-size: 2em;
}

.navbar-brand {
	width: 100px !important;
	height: 80px !important;
	overflow: hidden !important;
}

ul.navbar-nav, ul.navbar-right {
	margin-top: 0.9em;
}
</style>
</h:head>
<h:body>

	<h:form id="viewFeedbackForm" enctype="multipart/form-data">

		<b:navBar brand-img="#{resource['images/Logo69x66.png']}"
			brandHref="home.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Project &amp; Planning" href="home.xhtml"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right">

				<b:navLink value="logout" href="login.xhtml"></b:navLink>
			</b:navbarLinks>
		</b:navBar>

		<b:container style="margin-top: 10em">

			<b:row>
				<b:column offset="5">
					<h:outputLabel value="FEEDBACK" style="font-size:19px" />
				</b:column>
			</b:row>

			<b:row>
				<b:column offset="3">
					<h:outputLabel
						value="DESCRIZIONE: #{feedbackViewController.job.description} "
						style="font-size:16px" />
				</b:column>
			</b:row>

			<b:row>
				<b:column offset="3">
					<h:outputLabel value="CODICE: #{feedbackViewController.job.code} "
						style="font-size:16px" />
				</b:column>
			</b:row>

			<h:panelGrid rendered="#{feedbackViewController.hasQualification}"
				columns="4" style="margin-top: 3em">
				<h:outputLabel
					value="Domanda 1: In sintesi, come valuta globalmente l'attività rispetto alle Sue aspettative ?"
					for="q1" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q1" value="#{feedbackViewController.feedback.q1}" />
				<h:message for="q1" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="Domanda 2: Ritiene che gli obiettivi concordati nella fase di progettazione dell'attività siano stati raggiunti  ?"
					for="q2" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q2" value="#{feedbackViewController.feedback.q2}" />
				<h:message for="q2" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Perchè ?:" for="q2bis" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q2bis"
					value="#{feedbackViewController.feedback.q2bis}" />
				<h:message for="q2bis" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="Domanda 3: Come valuta globalmente la prestazione dei professionisti (docenti/consulenti) coinvolti nell'attività ?"
					for="q3" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q3" value="#{feedbackViewController.feedback.q3}" />
				<h:message for="q3" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="Domanda 4: Come valuta globalmente la qualità dela documentazione fornita ?"
					for="q4" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q4" value="#{feedbackViewController.feedback.q4}" />
				<h:message for="q4" style="color:red" />


				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel value="Osservazioni:" for="q4bis" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q4bis"
					value="#{feedbackViewController.feedback.q4bis}" />
				<h:message for="q4bis" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="Domanda 5: C'é qualche aspetto dell'attività che l'ha colpita "
					for="q5" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q5" value="#{feedbackViewController.feedback.q5}" />
				<h:message for="q5" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="Domanda 6: Quale feed-back ha avuto dai partecipanti/destinatari in merito all'efficacia del ns. intervento ?"
					for="q6" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q6" value="#{feedbackViewController.feedback.q6}" />
				<h:message for="q6" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

				<h:outputLabel
					value="Domanda 7: Quali ritiene possano essere eventuali temi per approfondimenti ed iniziative successive ?"
					for="q7" />
				<h:outputLabel value=" " style=" width: 80px" />
				<h:outputLabel id="q7" value="#{feedbackViewController.feedback.q7}" />
				<h:message for="q7" style="color:red" />

				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />
				<h:outputLabel value=" " />

			</h:panelGrid>

			<b:row style="margin-top: 2em">
				<b:column span="4">
					<b:button value="AGGIUNGI FEEDBACK"
						href="addFeedback.xhtml?ID=#{feedbackViewController.job.id}"
						rendered="#{!feedbackViewController.hasQualification}"
						style="width: 80%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
			<b:row style="margin-top: 2em">
				<b:column span="4">
					<b:button value="MODIFICA FEEDBACK"
						href="updateFeedback.xhtml?ID=#{feedbackViewController.job.id}"
						rendered="#{feedbackViewController.hasQualification}"
						style="width: 80%;   background-color: #FFAB00; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
			<b:row style="margin-top: 2em">
				<b:column span="4">
					<b:button value="VAI ALLA LISTA COMMESSE" href="listJob.xhtml"
						style="width:80%; background-color: #777; color: #FFF; font-weight: bold; border: none;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>